@import "../../scss/mixins";
@import '../../scss/variables';

.cart-main{
    background: url('https://previews.123rf.com/images/rpbmedia/rpbmedia1802/rpbmedia180200389/96172288-landscape-around-the-city-of-quito-ecuador.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cart-container{
    width: 80vh;
}

.cart-container img {
    height: 100px;
    width: 100px;
    border-radius: 30%;
    box-sizing: border-box;
    box-shadow: 5px 5px 7px rgb(58, 58, 58);

}

.cartItem {
    @include flex(center, space-evenly, row);
    position: relative;
    height: 200px;
    width: 85%;
    background-color: white;
    top: 20px;
    left: 65px;
    margin-top: 20px;
    box-shadow: 5px 5px 5px rgb(58, 58, 58);

}

.gray{
    position: relative;
    left: 0%;
    width: 75vw;
    height: 100vh;
    background-color: $clear;
    overflow: scroll;
}

.cart-main button {
    position: relative;
    height: 100px;
    width: 100px;
    left:40%;
}

#check-btn{
    position: relative;
    height: 100px;
    width: 100px;
    bottom: 500px;
}

@media (max-width: 768px) {

    .cart-container img{
        height: 40px;
        width: 40px;
    }

    .cartItem{
        position: relative;
        left: 30px;
    }

    .cartItem h1 {
        font-size: 15px;
    }

    .cartItem button {
        height: 40px;
        width: 60px;
        position: relative;
        left: 10px;
    }
}

@media (max-width: 411px) {
    .cartItem h1 {
        font-size: 10px;
    }

    .cartItem h3 {
        font-size: 10px;
        margin-left: 15px;
    }

    .cartItem button {
        height: 30px;
        width: 50px;
        position: relative;
        top: 50px;
        left: -110px;
        font-size: 10px;
    }

    .cartItem{
        @include flex(center, space-evenly, row);
        position: relative;
        left: 30px;
        height: 150px;
    }

}
