@import '../../scss/mixins';

.header{
    @include flex(center, space-between, row);
    height: 15vh; 
}

.header img {
    height: 100px;
    width: 100px;

}
.nav-bar {
    @include flex(center, space-between, row);
    position: relative;
    top: 10px;
    right: 10px;
    width: 450px;
    height: 50px;
    font-size: 20px;
    }

