@import "../../scss/mixins";
@import '../../scss/variables';

.header {
  @include flex(center, space-between, row);
  height: 15vh;
  width: 100vw;
  background-color: #111111e5;
  color: white;
}

.header h1{
  position: relative;
  left:10px;
}


.nav-bar {
  @include flex(center, space-between, row);
  position: relative;
  top: 10px;
  right: 10px;
  width: 450px;
  height: 50px;
  font-size: 20px;
  text-transform: uppercase;
}

.nav-bar span{
text-decoration: none;
color: white;
}

.nav-bar span img {
  height: 50px;
  width: 50px;
}

#pic{
  height: 50px;
  width:50px;
  border-radius: 50%;
}


.dropdown-btn {
  display: none;
}

.mobile-menu{
    display: none;
}

@media (max-width: 768px) {

    .header {
        @include flex(center, space-between, row);
        height: 10vh;
        width: 100vw;
      }
  .nav-bar {
    display: none;
  }

  .dropdown-btn {
    display: initial;
    position: fixed;
    right: 5%;
  }

  .dropdown-btn img {
      height: 40px;
      width: 40px;
  }


  .mobile-menu {
    @include flex(center, space-evenly, column);
    height: 30vh;
    width: 20vw;
    position: fixed;
    left: 607px;
    background-color: $clear;
    right: 0px ;
    top: 107px;
    z-index: 2;
    border-style: solid;
    font-size: 20px;
    
  }

  .mobile-menu span{
    text-decoration: none;
    color:  #111111e5;
    }

    .mobile-menu span img {
      height: 50px;
      width: 50px;
    }

}
