.App {
  text-align: center;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}




input {
  height: 30px;
  width: 200px;
  background: rgba(255, 255, 255, 0.685);
  border: 2px, black;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
}

button {
  height: 30px;
  width: 200px;
  background: rgba(255, 255, 255, 0.685);
  border: 2px, black;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
}
button:hover {
  background-color: black;
  color: white;
}

@media(max-width: 768px) {
  button {
    width: 95px;
    height: 35px;
  }

  input{
    width: 95px;
  }


}